## .gitignore

# User-specific files
*.env
*.log

# json package file
*.json

# balances image file
balances_gauge.png

# CSV files recursively
**/*.csv

# test programs
test*.*
util*.*

node_modules/


__pycache__/



